<!--    Header      -->
<header class="bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      {{appName}}
    </div>
  </div>
</header>

<!--    Todo Table      -->
<div id="todo-table">
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Due date</th>
        <th scope="col">Done?</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i=index">
        <td scope="row" hidden>{{todo?.id}}</td>
        <td> {{ i+1 }}</td>
        <td>{{todo?.description}}</td>
        <td>{{todo?.dueDate | date: 'dd.MM.yyyy'}}</td>
        <td>
          <img *ngIf="todo?.isDone === true" src="../assets/img/check.svg" alt="Check Icon">
        </td>
        <td>
          <button (click)="onOpenModal(todo, 'edit')" type="button" class="btn"><img src="../assets/img/pencil.svg"
              alt="Edit Icon"></button>
          <button (click)="onOpenModal(todo, 'delete')" type="button" class="btn"><img src="../assets/img/trash.svg"
              alt="Delete Icon"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--      Add ToDo button     -->
<div class="d-grid gap-2 col-6 mx-auto">
  <button (click)="onOpenModal(null, 'add')" class="btn btn-outline-dark" type="button" id="btn-add-todo">+</button>
</div>

<!--      Add ToDo Modal      -->
<div class="modal fade" id="addTodoModal" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-todo-modal-title">Add ToDo</h5>
        <button type="button" class="btn-close" id="btn-close-add-todo" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddTodo(addForm.value)">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input ngModel name="description" class="form-control" id="description" type="text"
              placeholder="Write todo here..." required>
          </div>
          <div class="mb-3">
            <label for="dueDate" class="form-label">Due date</label>
            <input ngModel name="dueDate" class="form-control" id="dueDate" type="date" placeholder="yyyy-MM-dd"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="btn-dismiss-add-todo"
              data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" id="btn-save-todo">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--      Update ToDo Modal       -->
<div class="modal fade" id="editTodoModal" tabindex="-1" aria-labelledby="editTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-todo-modal-title">Edit ToDo</h5>
        <button type="button" class="btn-close" id="btn-close-add-todo" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="onEditTodo(editForm.value)">
          <input ngModel={{editTodo?.id}} name="id" type="text" hidden="true">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input ngModel="{{editTodo?.description}}" name="description" class="form-control" id="description"
              type="text" placeholder="Write todo here..." required>
          </div>
          <div class="mb-3">
            <label for="dueDate" class="form-label">Due date</label>
            <input ngModel="{{editTodo?.dueDate}}" name="dueDate" class="form-control" id="dueDate" type="date"
              placeholder="yyyy-MM-dd" required>
          </div>
          <div class="form-check">
            <input ngModel name="isDone" class="form-check-input" id="cb-is-done" value="" type="checkbox">
            <label for="cb-is-done" class="form-check-label">Done</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="btn-dismiss-edit-todo"
              data-bs-dismiss="modal">Close</button>
            <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary" id="btn-edit-todo">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--      Delete ToDo Modal       -->
<div class="modal" id="deleteTodoModal" tabindex="-1" aria-labelledby="deleteTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete ToDo</h5>
        <button type="button" class="btn-close" id="btn-close-delete-todo" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete todo: '<strong>{{deleteTodo?.description}}</strong>'?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-dismiss-delete-todo"
          data-bs-dismiss="modal">Close</button>
        <button (click)="onDeleteTodo(deleteTodo?.id)" type="button" class="btn btn-danger"
          id="btn-delete-todo">Yes</button>
      </div>
    </div>
  </div>
</div>